<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />    
    <link rel="stylesheet" href="style/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Proyecto Número 9</title>
    <style>
    html {
        box-sizing: border-box;
        font-size: 62.5%; 
    }

    *, *:before, *:after {
        box-sizing: inherit;
    }

    /** Globales **/
    body {
        font-size: 1.6rem;
        line-height: 1.5;
        background-color: grey;
    }
    p {
        font-size: 1.8rem;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
    }
    a {
        text-decoration: none;
    }
    img {
        width: 100%;
    }
    .contenedor {
        max-width: 120rem;
        margin: 0 auto;
    }
    h1, h2, h3 {
        text-align: center;
    }
    h1 {
        font-size: 4rem;
    }
    h2 {
        font-size: 3.2rem;
    }
    h3 {
        font-size: 2.4rem;
    }
        h1{
            text-align: center;
        }
        .grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 50px;
        }
        .contenedor {
            max-width: 120rem;
            margin: 0 auto;
        }
        .producto {
            background-color: var(--primarioOscuro);
            padding: 10px;
        }

        .producto__nombre {
            font-size: 30px;
        }
        .producto__precio {
            font-size: 30px;
            color: var(--secundario);
        }

        .producto__nombre, .producto__precio {
            font-family: var(--fuentePrincipal);
            margin: 1rem 0;
            text-align: center;
            line-height: 1.2;
        }

        /*Redes Sociales*/

        .buttons {
            text-align: center;   
        }

        .buttons a {
            margin: 0 30px;
            text-decoration: none;
            font-size: 28px;
            width: 60px;
            height: 60px;
            line-height: 60px;
            text-align: center;
            background: #314652;
            color: #f1f1f1;
            border-radius: 50%;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
            transition: all .4s ease-in-out;
        }

        .buttons a:hover {
            transform: scale(1.2);
        }
    </style>
  </head>
  <body>
    
    <div>
      <h1>Proyecto No. 9 - Servicios Telemáticos</h1>
    </div>

    <main class="contenedor">
        <div class="grid">
            <div class="producto">
                <a>
                    <img class="producto__imagen" src="https://cdn.shopify.com/s/files/1/0537/9483/2552/products/Github_M1_B_1024x1024.jpg?v=1614889403" alt="imagen camisa">
                    <div class="producto__informacion">
                        <p class="producto__nombre">Camisa Github</p>
                        <p class="producto__precio">$25</p>
                    </div>
                </a>
            </div>  <!--.producto-->
            <div class="producto">
                <a>
                    <img class="producto__imagen" src="https://www.dhresource.com/0x0/f2/albu/g10/M01/1F/21/rBVaVl8DOLCAHQNxAALSH8JP2pI634.jpg" alt="imagen camisa">
                    <div class="producto__informacion">
                        <p class="producto__nombre">Camisa JS</p>
                        <p class="producto__precio">$25</p>
                    </div>
                </a>
            </div>  <!--.producto-->
    </main>

            <div class="buttons">
                <a href="http://www.facebook.com/sharer.php?u=http://sh.st/UPQTP&t=Cargas asíncronas de imágenes con jQuery en una web" class="fa fa-facebook" target="_blank"></a>
                <a href="https://www.twitter.com/share?url=http://sh.st/UPQTP&text=Cargas asíncronas de imágenes con jQuery en una web" class="fa fa-twitter" target="_blank"></a>
                <a href="https://www.instagram.com/share?url=http://sh.st/UPQTP&text=Cargas asíncronas de imágenes con jQuery en una web" class="fa fa-linkedin" target="_blank"></a>
            </div>
  </body>
</html>
